<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lk.connectbench.paymentlibraryproject">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="pg_identifier" android:value="@string/pg_identifier" />
        <meta-data android:name="store_name" android:value="@string/store_name" />
        <meta-data android:name="secret_code" android:value="@string/secret_code" />
        <meta-data android:name="currency" android:value="@string/currency" />
        <meta-data android:name="callback" android:value="@string/callback" />
        <meta-data android:name="merchant_identifier" android:value="@string/merchant_identifier" />
        <meta-data android:name="token_store_name" android:value="@string/token_store_name" />
        <meta-data android:name="language" android:value="@string/language" />
        <meta-data android:name="card_save_type" android:value="@string/card_save_type" />
        <meta-data android:name="merchant_display" android:value="@string/merchant_display" />
        <meta-data
            android:name="url_trigger"
            android:value="@string/url_trigger" />
        <meta-data android:name="banner_hide" android:value="@string/banner_hide" />
    </application>

</manifest>